:root {
    --primary-color: #f75815 !important;
}
body{
    /*background-color: var(--primary-color);*/
}

a {
    text-decoration: none;
}

/*bg*/
.bg-yellow{
    background-color: #ffd500 !important;
}
.bg-orange{
    background-color: #f75815 !important;
    color: white !important;
}
/*bg*/

/*preloader*/
.preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: all 0.6s ease-out;
}

.preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*preloader*/


/*button*/
/* Base button */
.toggle-btn-orange {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border-color: var(--primary-color) !important;
}

/* Selected / active button */
.toggle-btn-orange-selected {
    color: white !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/* Optional: hover effect for selected */
.toggle-btn-orange:hover {
    background-color: rgba(247, 88, 21, 0.1) !important; /* slightly darker */
}


/*button*/